<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR TEAM SECTION</title>
    <link rel="icon" type="image/x-icon" href= "https://www.iconpacks.net/icons/2/free-airplane-icon-1755-thumb.png">
  <link rel="stylesheet" href="Navigation.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="skyhigh">SKYHIGH</h1>
    <ul class="nav-bar">
      <li class="lis" id="home"><a href="/" class="anchor">Home</a></li>
      <li class="lis" id="destination">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destinations
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/locations/india.html">India</a></li>
            <li><a class="dropdown-item" href="/locations/Sri lanka.html">Sri lanka</a></li>
            <li><a class="dropdown-item" href="/locations/nepal.html">Nepal</a></li>
            <li><a class="dropdown-item" href="/locations/maldives.html">Maldives</a></li>
            <li><a class="dropdown-item" href="/locations/indonesia.html">Indonesia</a></li>
            <li><a class="dropdown-item" href="/locations/malasia.html">Malasia</a></li>
          </ul>
        </div></a>
      </li>
      <li class="lis" id="contact"><a href="/contact" class="anchor">Contact</a></li>
      <li class="lis" id="services"><a href="/services" class="anchor">Services</a></li>
      <li class="lis" id="about"><a href="/about" class="anchor">About us</a></li>
      <li class="lis" id="loginform"><a href="/Register" class="anchor">Login</a></li>
  
      <li class="lis"><a href="#" class="anchor">
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </a></li>
    </ul>
    <h1 class="title">OUR TEAM</h1>
<section>
    
    <div class="team-row">
        <div class="member">
            <img src="img.sahil.jpg" alt="SAHIL CHOPDE">
            <h2>SAHIL CHOPDE</h2>

            <div class="insta">
                <img src="https://th.bing.com/th?id=OSK.HNYBSXctCXxuO8S5PKFITXGw3B2MX3XPC_yf7PQd_zQILsc&w=102&h=102&c=7&o=6&oif=webp&pid=SANGAM" alt="insta">
                <a href="https://www.instagram.com/sahil_chopde_04/">sahil_chopde_04</a>
            </div>
            <div class="email">
               
                <a href="https://mail.google.com/mail/u/1/#search/chopdesahil04%40gmail.com">✉️chopdesahil04@gmail.com</a>
            </div>
           
            <p><br>Software developers are proficient in programming languages such as Java, Python, C++, JavaScript, and others. They write code to implement the functionality specified in software requirements.</p>
        </div>
        <div class="member">
            <img src="img.nakul.jpg" alt="NAKUL ZOD">
            <h2>NAKUL ZOD</h2>

            <div class="insta">
                <img src="https://th.bing.com/th?id=OSK.HNYBSXctCXxuO8S5PKFITXGw3B2MX3XPC_yf7PQd_zQILsc&w=102&h=102&c=7&o=6&oif=webp&pid=SANGAM" alt="insta">
                <a href="https://www.instagram.com/nakul_zod_/?utm_source=ig_web_button_share_sheet">nakul_zod_</a>
            </div>
            <div class="email">
                
                <a href="https://mail.google.com/mail/u/1/#search/nakulgzod@gmail.com%40gmail.com">✉️nakulgzod@gmail.com</a>
            </div>

            <p><br>Developers participate in the design phase, creating the overall architecture of the software system. They decide on the structure of the code, how different components will interact, and the overall organization of the application.</p>
        </div>
        <div class="member">
            <img src="img.ujjwal.jpg" alt="UJJWAL HIRANWAR">
            <h2>UJWAL HIRANWAR</h2>

            <div class="insta">
                <img src="https://th.bing.com/th?id=OSK.HNYBSXctCXxuO8S5PKFITXGw3B2MX3XPC_yf7PQd_zQILsc&w=102&h=102&c=7&o=6&oif=webp&pid=SANGAM" alt="insta">
                <a href="https://www.instagram.com/_u.z.i___/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">_u.z.i___</a>
            </div>
            <div class="email">
               
                <a href="https://mail.google.com/mail/u/1/#search/ujjwalhiranwar15%40gmail.com">✉️ujjwalhiranwar15@gmail.com</a>
            </div>

            <p><br>Software developers are problem solvers. They analyze user needs and design software solutions to meet those needs. They also debug and resolve issues that arise during the development and testing phases.</p>
        </div>
        <div class="member">
            <img src="img.pushpak.jpg" alt="PUSHPAK HINGE">
            <h2>PUSHPAK HINGE</h2>

            <div class="insta">
                <img src="https://th.bing.com/th?id=OSK.HNYBSXctCXxuO8S5PKFITXGw3B2MX3XPC_yf7PQd_zQILsc&w=102&h=102&c=7&o=6&oif=webp&pid=SANGAM" alt="insta">
                <a href="https://www.instagram.com/pushpak_hinge/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">pushpak_hinge</a>
            </div>
            <div class="email">
                
                <a href="https://mail.google.com/mail/u/1/#search/pushpakhinge360@gmail.com%40gmail.com">✉️pushpakhinge360@gmail.com</a>
            </div>

            <p><br>Technology is constantly evolving, and software developers need to stay up-to-date with the latest tools, frameworks, and methodologies. Continuous learning is an integral part of a developer's career.</p>
        </div>
    </div>
</section>
<div class="footer">
    <div class="heading">
      <h2>Sky High<sup>™</sup></h2>
    </div>
    <div class="content">
      <div class="services">
        <h4>Services</h4>
        <p><a href="#" class="hover">transportation</a></p>
        <p><a href="#"  class="hover">health care</a></p>indonesia.html
        <p><a href="#"  class="hover">hotels</a></p>
        <p><a href="#"  class="hover">food and drinks</a></p>
        <p><a href="#"  class="hover">guide</a></p>
        <p><a href="#"  class="hover">Travel</a></p>
        <p><a href="#"  class="hover">Adventures</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        
        <p>
          <a href="#"
            ><i class="fab fa-twitter"  class="hover"></i> Twitter</a
          >
        </p>
        
        <p>
          <a href="https://www.facebook.com/codewithfaraz" class="hover"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/codewithfaraz"  class="hover"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </p>
      </div>
      <div class="links">
        <h4>Quick links</h4>
        <p><a href="#"  class="hover">Home</a></p>
        <p><a href="#"  class="hover">About</a></p>
        <p><a href=""  class="hover">Contact</a></p>
      </div>
      <div class="details">
        <h4 class="address">Address</h4>
        <p>yeshwantrao chavan college of engineering,wanadongri ,Nagpur </p>
        <h4 class="mobile">Mobile</h4>
        <p><a href="#">8390290379</a></p>
        <h4 class="mail"  class="hover">skyhigh360@gmail.com</h4>
      </div>
    </div>
    <footer>
      <hr />
      © 2023 Sky High.
    </footer>
  </div>
</body>
</html>