<!DOCTYPE html>
<html lang="en">
<head>
    <!-- google Font --> <title>SkyHigh</title>
    <link rel="icon" type="image/x-icon" href= "https://www.iconpacks.net/icons/2/free-airplane-icon-1755-thumb.png">
    <link rel="stylesheet" href="/Navigation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <!-- end -->
    <!-- linking Css file -->
<link rel="stylesheet" href="Contact-Us.css">
<!-- end -->
<!-- linking bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<!-- end -->
<!-- home icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- end -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
  .footer {
  background-color: black;
  color: #fefefe;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}
.hover{
  text-decoration: underline;
  
}

</style>

</head>
<body style="padding-bottom: 0px;
background-color:rgb(247, 247, 247);">
  <h1 id="skyhigh">SKYHIGH</h1>
  <ul class="nav-bar">
    <li class="lis" id="home"><a href="/" class="anchor">Home</a></li>
    <li class="lis" id="destination">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Destinations
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/locations/india.html">India</a></li>
          <li><a class="dropdown-item" href="/locations/Sri lanka.html">Sri lanka</a></li>
          <li><a class="dropdown-item" href="/locations/nepal.html">Nepal</a></li>
          <li><a class="dropdown-item" href="/locations/maldives.html">Maldives</a></li>
          <li><a class="dropdown-item" href="/locations/indonesia.html">Indonesia</a></li>
          <li><a class="dropdown-item" href="/locations/malasia.html">Malasia</a></li>
        </ul>
      </div></a>
    </li>
    <li class="lis" id="contact"><a href="/contact" class="anchor">Contact</a></li>
    <li class="lis" id="services"><a href="/services" class="anchor">Services</a></li>
    <li class="lis" id="about"><a href="/about" class="anchor">About us</a></li>
    <li class="lis" id="loginform"><a href="/Register" class="anchor">Login</a></li>

    <li class="lis"><a href="#" class="anchor">
        <div class="search-container">
          <form action="#">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </a></li>
  </ul>


    <div class="container">
        <img class="image" src="Photo.jpg" alt="Lady">
        <div class="top-left">
            <div style="
            margin-bottom: 32px;
            font-size: 16px;
            font-weight: 100;
            font-family: 'Ubuntu', sans-serif;
             margin-left: 0px;
            color: rgb(255, 255, 255);
            box-sizing: border-box;">
                <h1>Are You A Club Priviledge Member?</h1>
            </div>
            <div style=" font-size: 20px;
            width: 820px;
            height: 27px;
            font-weight: 100;
            font-family: 'Ubuntu', sans-serif;
             padding-right: 100px;
             margin-top: 40px;
            color: rgb(255, 255, 255);
            ">
               Get priority access to exclusive 24-hour support.
            </div>
            <div style="padding-right: 400px;
            margin-top: 100px;">
              <a href="/login" target="_blank"><input class="login-button" type="button" value="LOGIN"></a> 
               <a href="/Register" target="_blank"><input class="join-button" type="button" value="JOIN"></a> 
            </div>

        </div>
       
    </div>
<!-- Slider -->
    <div style="padding: 40px;
    margin-top: 100px;">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" >
              <img height="600px" src="Slider_1_img.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" >
              <a href="mumbai-office-location.html" target="_blank">  <img height="600px"   src="Screenshot (61).png" class="d-block w-100" alt="..."></a>
              
            </div>
            <div class="carousel-item">
             <a href="nagpur-office-location.html" target="_blank"><img  height="600px" src="Nagpur.png" class="d-block w-100" alt="..."></a> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


<!-- Slider Ends -->
<!-- middle -->
<div style="display: flex; padding: 20px;
margin-bottom: 0px;">
    <div  class="card" style="width: 18rem; display: inline-block; margin: 70px;
    border: 3px solid gray;" >
        <img   height="250px" src="Hotel view.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p style=" font-family: 'Ubuntu', sans-serif;
          " class="card-text">Become a Premium Member and get Hotel Rooms with best views with 30% off.<br><strong>Join Us Now</strong></p>
        </div>
      </div>

      <!-- 2nd -->
      <div class="card" style="width: 18rem; display: inline-block; margin: 70px;
       border: 3px solid gray;">
        <img height="250px" src="Resort booking.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p  style=" font-family: 'Ubuntu', sans-serif;"  class="card-text">Book A Resort for a family gathering or For a Party!! <br> At an affordable Price!!<br><strong>Book Now!!</strong></p>
        </div>
      </div>
      <!-- 3rd -->
      <div class="card" style="width: 18rem; display: inline-block; margin: 70px;
       border: 3px solid gray;">
        <img height="250px" src="Trip Planner.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p   style=" font-family: 'Ubuntu', sans-serif;" class="card-text">Plan your trip like never before with the help Of Our website. Which provides you various exciting <strong>Travelling  Plans!!</strong></p>
        </div>
      </div>
</div>

<!-- 2nd middle -->

<div style="display: flex; padding: 20px;
margin-top: 0px; ">
    <div class="card" style="width: 18rem; display: inline-block; margin: 70px;
    border: 3px solid gray;" >
        <img height="250px" src="Services.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p style=" font-family: 'Ubuntu', sans-serif;"  class="card-text">We provide  great <strong>Services</strong> both offline and online. We are always there for your sevice.<br><strong>Try Our Services and Enjoy it!!</strong></p>
        </div>
      </div>

      <!-- 2nd -->
      <div class="card" style="width: 18rem; display: inline-block; margin: 70px;
        border: 3px solid gray;">
        <img height="250px" src="rent.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p style=" font-family: 'Ubuntu', sans-serif;" class="card-text">We also provide facility to <strong>rent a vehicle of your choice</strong>.Now you can enjoy your journey as you want Go Wherever you wish to go.</p>
        </div>
      </div>
      <!-- 3rd -->
      <div class="card" style="width: 18rem; display: inline-block; margin: 70px;
       border: 3px solid gray;" >
        <img height="250px" src="Prizes.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p style=" font-family: 'Ubuntu', sans-serif;" class="card-text">Win exciting prizes on every booking by becoming a Premium memmber<br><strong>Join Us!!</strong></p>
        </div>
      </div>
</div>



<!-- Cards start  -->
    <div style="display: flex;">
        <div class="card mb-3" style="padding-top: 30px;
        padding-left: 30px;
   
    border: 5px solid rgb(57, 55, 55);
    background-color: rgb(247, 247, 247);;">
        <div class="row g-0">
          <div class="col-md-4">
            <img  src="Firefly help desk persona for a travel website 220px height 41960.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"
              style="font-family: 'Ubuntu', sans-serif ;">Contact Our Agent</h5>
              <p style="font-family: 'Ubuntu', sans-serif ;" class="card-text"><b>For Any More Queries You Can Speak With Our Agent directly.<br>We are available 24/7 at your service.</b></p>
              <p style="font-family: 'Ubuntu', sans-serif ;" class="card-text"><small class="text-body-secondary">Dial : +9199087656231<br>Or Mail us at : travel@gmail.com</small></p>
            </div>
          </div>
        </div>
        
     
    </div>
    <!-- card 1 ends -->
    <!-- card 2 starts-->
    <div class="card mb-3" style="padding-top: 30px;
    padding-left: 30px;
   
    margin-left: 200px;
    border: 5px solid rgb(57, 55, 55);
    background-color: rgb(247, 247, 247);">
        <div class="row g-0">
          <div class="col-md-4">
            <img  src="Firefly help desk persona for a travel website 250px height 31080.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"
              style="font-family: 'Ubuntu', sans-serif ;">Write Your Query</h5>
              <p style="font-family: 'Ubuntu', sans-serif ;" class="card-text"><b> <textarea id="w3review" name="w3review" rows="4" cols="40"></textarea><br>Enter your Mail-ID <input class="mail-box" type="email" placeholder="..@gmail.com"></b></p>
             <a href="Response.html" target="_blank"> <button class="btn btn-primary" type="submit">Submit Query</button></a>
            </div>
          </div>
        </div>
        
     
    </div>
    </div>
    <!-- cards 2 ends -->
    <!-- footer -->
    <div class="footer">
      <div class="heading">
        <h2>Sky High<sup>™</sup></h2>
      </div>
      <div class="content">
        <div class="services">
          <h4>Services</h4>
          <p><a href="#" class="hover">transportation</a></p>
          <p><a href="#"  class="hover">health care</a></p>indonesia.html
          <p><a href="#"  class="hover">hotels</a></p>
          <p><a href="#"  class="hover">food and drinks</a></p>
          <p><a href="#"  class="hover">guide</a></p>
          <p><a href="#"  class="hover">Travel</a></p>
          <p><a href="#"  class="hover">Adventures</a></p>
        </div>
        <div class="social-media">
          <h4>Social</h4>
          
          <p>
            <a href="#"
              ><i class="fab fa-twitter"  class="hover"></i> Twitter</a
            >
          </p>
          
          <p>
            <a href="https://www.facebook.com/codewithfaraz" class="hover"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </p>
          <p>
            <a href="https://www.instagram.com/codewithfaraz"  class="hover"
              ><i class="fab fa-instagram"></i> Instagram</a
            >
          </p>
        </div>
        <div class="links">
          <h4>Quick links</h4>
          <p><a href="#"  class="hover">Home</a></p>
          <p><a href="#"  class="hover">About</a></p>
          <p><a href=""  class="hover">Contact</a></p>
        </div>
        <div class="details">
          <h4 class="address">Address</h4>
          <p>yeshwantrao chavan college of engineering,wanadongri ,Nagpur </p>
          <h4 class="mobile">Mobile</h4>
          <p><a href="#">8390290379</a></p>
          <h4 class="mail"  class="hover">skyhigh360@gmail.com</h4>
        </div>
      </div>
      <footer>
        <hr />  
        © 2023 Sky High.
      </footer>
    </div>

    <!-- footer ends -->
   
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    
      </script>
</body>
</html>