<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .mumbai-location{
            border: 3px solid black;
            width: 800px;
            display: inline-block;
        } 
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagpur-Office</title>
</head>
<body style="background-color: rgb(247, 247, 247);">
        <div style="display: flex;">
            <div  class="mumbai-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835589.355948154!2d73.29787231483436!3d20.146862752162306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd495abf6622d6f%3A0x2bd70ec1faa74ad4!2sDepartment%20Of%20Computer%20Science%20And%20Engineering!5e0!3m2!1sen!2sin!4v1701189758892!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               <div style="display: inline-block;">
                <H1>Checkout our offline Services at our office located in Nagpur,Maharashtra.</H1>
                <h2>Visiting Hours : 9:00am to 3:00pm</h2>
               </div> 
        </div>
   
</body>
</html>